<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Hey, I’m Jonathan, nice to meet you!</h2>
      <p class="subtitle subtitle--light">I'm a designer, storyteller, and a father of two boys.
      </p>

      <p>Design is inclusive, but designers bring the best out of it through craft and conversation. That's what I believe design can do to elevate people and businesses.</p>
      <p>In the past 10+ years, my career has taken me to many places around the world, working with complex ecosystems and large scale global products. From facilitating co-creation with executive teams to research on the ground with front-liners, to company-wide digital transformation, there's always a great story to tell. I bring them together through design, research, data, strategy, and technology.</p>
      <p>Through self-discovery, I'm learning how to scale impact through people by designing relationships and mentorship. My passion is in the community, and I find satisfaction in connecting people. I share a lot by nature because good knowledge is worth sharing. Host and volunteer for UXSG.</p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>