<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Hey, I’m Jonathan!</h2>
      <p class="subtitle subtitle--light">I'm a product designer, storyteller, and community connector.
      </p>

      <!-- <p>Design is inclusive, but designers bring the best out of it through craft and conversation. That's what I believe design can do to elevate people and businesses.</p> -->
      <p>From shipping global products, to facilitating co-creation, to research on the ground, there's always a great story to tell. I bring them together through design, research, data, strategy, and technology.</p>
      <p>Over the past 10+ years, I've learnt to scale impact through people by designing relationships and mentorship. My passion is in the community, and I find satisfaction in connecting people. I share a lot by nature because good knowledge is worth sharing. Host and volunteer for <a href="https://www.facebook.com/groups/uxsingapore/" target="_blank">UXSG</a>, mentoring on <a href="https://www.adplist.org/mentors/jonathan-yap" target="_blank">ADP list</a>, and creator of <a href="http://designpaytransparency.asia" target="_blank">Design Pay Transparency</a>.</p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>