// - - - - - - - - - - - - - - - - - -

// Custom

// - - - - - - - - - - - - - - - - - -

// Post navigation
.post-nav {
  margin-top: 30px;
  margin-bottom: 30px;

  &--lists {
    @extend .grid__2-col;
    grid-template-areas: 'l r';
  }

  &--prev {
    grid-area: l;
    align-self: start;
    list-style: none;
  }

  &--next {
    grid-area: r;
    align-self: end;
    text-align: right;
    list-style: none;
  }

  &--text {
    @extend .button--text
  }
}

// Project code

#emotivu {
  $accent-color: #004667;

  .project__image,
  .post__featured-image {
    background-color: $accent-color;
    padding: 6vw;
  }

  #gallery-2 img[src*=".png"],
  #gallery-2 img[src*=".jpg"]{
    background-color: $accent-color;
    padding: 2em;
    }
}

#tronsquare {
  $accent-color: #2e2f33;

  .gallery img[src*=".png"],
  .gallery img[src*=".jpg"]{
    background-color: $accent-color;
    padding: 6vw;
    }
}

#o2academy {
  $accent-color: #000033;

  #gallery-1, #gallery-3{
    img[src*=".png"],
    img[src*=".jpg"]{
      background-color: $accent-color;
      padding: 6vw;
    }
  }
}

#panasonic {
  $accent-color: #008fe3;

  .project__image,
  .post__featured-image {
    background-color: $accent-color;
    padding: 4vw;
  }

  #gallery-1, #gallery-2, #gallery-3{
    img[src*=".png"],
    img[src*=".jpg"]{
      background-color: $accent-color;
      padding: 4vw;
    }
  }
}